services:
  mongodb:
    image: mongo:7.0
    container_name: ott-mongodb
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_DATABASE: ott-mylist
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: ott-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

  app:
    build: .
    container_name: ott-mylist-api
    ports:
      - "80:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      MONGODB_URI: mongodb://mongodb:27017/ott-mylist
      REDIS_HOST: redis
      REDIS_PORT: 6379
      CACHE_ENABLED: "true"
    depends_on:
      - mongodb
      - redis
    restart: unless-stopped

volumes:
  mongodb_data:
  redis_data:
